body{
    padding: 0px 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.logo img{
    width: 100px;
    height: auto;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items ul{
    display: flex;
    list-style: none;
}

.nav-items ul li{
    padding: 10px 30px;
    font-size: 20px;
}


.body > .restaurent-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.body > .search{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.body > .search > input{
    width: 50%;
    height: 40px;
    font-size: 20px;
    padding: 0px 10px;
}

.body > .search > button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
}

.restaurent-container > .restaurent-card{
    width: 20%;
    margin-bottom: 20px;
    padding: 10px;
}

.restaurent-container :hover{
    background-color: rgb(157, 198, 233);
}


.footer{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.filter-div{
    text-align: center;
    margin-bottom: 30px;
}

.filter-div > .filter-btn{
    padding: 5px;
    cursor: pointer;
}

.shimmer-wrapper {
    display: flex;
}

.shimmer-wrapper > .shimmer {
    width: 200px;
    height: 300px;
    background-color: rgb(245, 245, 241);
    margin: 20px 20px;
}

